@import (less) '../../bower_components/bootstrap/less/bootstrap.less';
@import (less) '../../bower_components/angular-motion/dist/angular-motion.min.css';

/*-----------*/
/* Variables */
/*-----------*/

// Override fonts
@font-family-sans-serif: 'Source Sans Pro', 'PT Sans', 'Open Sans', 'Segoe UI', Verdana, sans-serif;
@font-family-serif: 'Optima', 'Segoe UI', 'PT Serif', 'Georgia', serif;

// Bonus
@font-family-decorative: 'Georgia', 'Impact', @font-family-monospace;
@font-size-extra-large: ceil((@font-size-base * 1.5));

@gray-lighter: lighten(#000, 85%); // #eee

@blockquote-font-size: (@font-size-base * 1.1);

@body-bg: #fffafa;

@navbar-default-bg: #efefef;


/*-------------*/
/* Misc global */
/*-------------*/

// Fix pointers for angular-ui-bootstrap and angular-strap
.nav, .pagination, .carousel, a { cursor: pointer; }

body {
  position: relative;
  margin-bottom: 3em;
}

/* Headers */

@font-size-h1: floor((@font-size-base * 2.2));
@font-size-h2: floor((@font-size-base * 1.9));
@font-size-h3: ceil((@font-size-base * 1.7));
@font-size-h4: ceil((@font-size-base * 1.3));
@font-size-h5: @font-size-base;
@font-size-h6: ceil((@font-size-base * 0.85));

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/* Navbar */

@grid-float-breakpoint: @screen-xs;

/* Jumbotron */

@jumbotron-padding:       1em;
@jumbotron-color:         @gray-dark;
@jumbotron-bg:            @navbar-default-bg;
@jumbotron-heading-color: @gray-dark;
@jumbotron-font-size:     ceil((@font-size-base * 1.5));


/*------------------*/
/* Code field setup */
/*------------------*/

/* Variables and fonts */

@code-color: @gray-dark;

@pre-bg: #fafafa;

.mono {
  font-family: @font-family-monospace;
}

code, pre {
  font-size: @font-size-small;
}

/* Positioning */

@media (max-width: @screen-md) {
  .col-code.left {
    margin-bottom: -1px;
  }
}

@media (min-width: @screen-md) {
  .col-code.left {
    padding-right: 0;
    margin-right: -1px;
  }
  .col-code.right {
    padding-left: 0;
  }
}

// scroll instead of breaking words
.form-code {
  word-wrap: normal;
}

textarea.form-code {
  overflow: auto;
}

@media (max-width: @screen-md) {
  textarea.form-code {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  pre.form-code {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

@media (min-width: @screen-md) {
  textarea.form-code {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  pre.form-code {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/* Colours */

@input-border-focus: darken(@gray-lighter, 10%);
@input-color: black;
@form-bg: #faf8f9;

.form-code, .form-code:disabled {
  font-family: @font-family-monospace;
  font-size: @font-size-small;
  resize: none;
  background-color: @form-bg;
  cursor: text;
}

.pre-output {
  background-color: darken(#faf8f9, 2%);
}

/* Eval buttons */

.button-eval {
  position: absolute;
  margin: 0;
  box-sizing: border-box;
  @media (max-width: @screen-md) {
    bottom: 0.5em;
    right: 1.5em;
  }
  @media (min-width: @screen-md) {
    bottom: 1em;
    right: 1.5em;
  }
}


/*----------*/
/* Side nav */
/*----------*/

.bs-sidebar.affix {
  position: static;
  margin-top: 1em;
}

@media (min-width:@screen-sm){.bs-sidebar {
    padding-left: 20px
  }
}

.bs-sidenav {
  margin-top: 20px;
  margin-bottom: 20px
}

.bs-sidebar .nav>li>a {
  display: block;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 500;
  color: #999
}

.bs-sidebar .nav>li>a:hover, .bs-sidebar .nav>li>a:focus {
  padding-left: 19px;
  color: @gray;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid @gray-lighter
}

.bs-sidebar .nav>.active>a, .bs-sidebar .nav>.active:hover>a, .bs-sidebar .nav>.active:focus>a {
  padding-left: 18px;
  font-weight: 700;
  color: @gray;
  background-color: transparent;
  border-left: 2px solid @gray-lighter
}

.bs-sidebar .nav .nav {
  display: none;
  padding-bottom: 10px
}

.bs-sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: 400
}

.bs-sidebar .nav .nav>li>a:hover, .bs-sidebar .nav .nav>li>a:focus {
  padding-left: 29px
}

.bs-sidebar .nav .nav>.active>a, .bs-sidebar .nav .nav>.active:hover>a, .bs-sidebar .nav .nav>.active:focus>a {
  padding-left: 28px;
  font-weight: 500
}

@media (min-width:@screen-md){.bs-sidebar .nav>.active>ul {
    display: block
  }

  .bs-sidebar.affix, .bs-sidebar.affix-bottom {
    width: 213px
  }

  .bs-sidebar.affix {
    position: fixed;
    top: 20px
  }

  .bs-sidebar.affix-bottom {
    position: absolute
  }

  .bs-sidebar.affix-bottom .bs-sidenav, .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0
  }
}

@media (min-width:@screen-lg){.bs-sidebar.affix-bottom, .bs-sidebar.affix {
    width: 263px
  }
}


/*------------*/
/* Animations */
/*------------*/

.error {
  transition: 0.5s linear all;
  background-color: @form-bg - #022;
}
