extends layout

mixin code(height)
   isolated-code
    .codeblock.form-group(style='height: #{height}em; min-height: #{height}em;')
      textarea.form-control.form-code.left(type='text' model-init='exampleCode' autofocus!=attributes.autofocus)
        if block
          block
      pre.form-code.right(ng-show='!showJSOutput') {{compiledCode}}
      button.btn.btn-sm.btn-default.button-right(role='button' ng-click='evalJS()' ng-show='!showJSOutput') eval
      pre.form-code.right.output(ng-show='showJSOutput') {{evalJSOutput}}
      button.btn.btn-sm.btn-warning.button-right(role='button' ng-click='showJSOutput = false' ng-show='showJSOutput') close

block title
  title about:jisp

block content
  .container
    .row
      .col-lg-9
        p.lead Jisp is a programmable language that compiles to JavaScript.

        :markdown

          It's simpler, terser, and more powerful than JS. Its macro system lets you treat code as data and write functions that write code for you. Jisp's extremely simple syntax protects against common JS pitfalls, and it abstracts away some legacy details, helping avoid errors and keep your code short.

          The jisp compiler is itself written in jisp. See the [sourcecode on git](https://github.com/Mitranim/jisp).

          You can contribute to this documentation by sending pull requests to the [gh-pages](https://github.com/Mitranim/jisp/tree/gh-pages) branch of the project repo.

          > All examples on this page are interactive: edit the jisp to see changes. The JavaScript snippets are compiled in your browser. If you don't see them, make sure JS is enabled and refresh the page.

          Most examples don't have side effects. To see results when eval'ing, wrap expressions into `(console.log)` or `(alert)`.

        h2 Interactive playground

        +code(30)(autofocus='')
          = "(mac task name ...args (do \n"
          = "  (= pipeline `(do (handle (,(args.shift) ,(args.shift)))))\n"
          = "  (while (> args.length 0) (do\n"
          = "    (= left  (args.shift)\n"
          = "       right (args.shift))\n"
          = "    (pipeline.push `(.pipe (handle (,left ,right))))))\n"
          = "  `(gulp.task ,name (fn ,pipeline))))\n"
          = "\n"
          = "(task       'js'\n"
          = "  gulp.src  jsFiles\n"
          = "  conc      'deps.js'\n"
          = "  uglify    (mangle: no)\n"
          = "  gulp.dest 'public/js/tmp/')\n"
          = "\n"
          = "(task       'jisp'\n"
          = "  gulp.src  jispFiles\n"
          = "  conc      'app.js'\n"
          = "  jisp      ()\n"
          = "  uglify    (mangle: no)\n"
          = "  gulp.dest 'public/js/tmp/')\n"
          = "\n"
          = "; try your own macro call here\n"

        :markdown
          Example of dynamically constructing code with a macro.

        h2#installation Installation and Usage

        :markdown

          Install from npm:

              $ npm install -g jisp

          Or download the source and use `./bin/jisp` and `./jisp/jisp.js` as entry points.

          Require in Node, registering the file extension:

              require('jisp/register');

          This allows you to `require` jisp scripts directly from your code, like so:

              require('./app.jisp');

          Launch an interactive REPL:

              $ jisp
              jisp>

          Compile a file or directory:

              $ jisp -c <file>

          Stream-compile with [gulp-jisp](https://github.com/Mitranim/gulp-jisp).

          While not recommended for production, jisp can be directly used in the browser. Include the `browser/jisp.js` file with your webpage. It registers the `text/jisp` script type to automatically compile and run jisp scripts loaded with `src` or included in script tags. It also exposes a global object with the `compile` and `eval` methods for jisp code. This is how this documentation is implemented.

          Super basic Sublime Text build system (OS X):
          * _Tools_ > _Build System_ > _New Build System_
          * put line: `"cmd": ["jisp", "$file"]`
          * save to: `~/Library/Application Support/Sublime Text 3/Packages/User`

        h2#code-structure Code Structure

        :markdown
          _Jisp code consists of nested arrays_. To be easier on the eyes, they're delimited with parentheses `()` instead of brackets. Individual elements are separated by whitespace rather than commas. This documentation refers to them as _lists_, but it's just arrays.

        +code(22)
          = "; list that compiles to a function call\n"
          = "(alert 'Fire in the house!')\n"
          = "\n"
          = "; quoted list — array literal\n"
          = "`(1 NaN 'bison')\n"
          = "\n"
          = "; empty array literal\n"
          = "`()\n"
          = "\n"
          = "; assignment (name binding)\n"
          = "(= myVar 'myValue')\n"
          = "\n"
          = "; function definition\n"
          = "(fn x (alert x))\n"
          = "\n"
          = "; see other special forms below\n"

        :markdown
          Object literals are also delimited with parentheses, elements separated by whitespace rather than commas. This documentation often refers to object literals as _hash tables_ to discern them from objects in general.

        +code(8)
          = "; object literal (hash table)\n"
          = "(place: 'tavern' drink: 'rum')\n"
          = "\n"
          = "; empty object literal\n"
          = "(:)\n"

        :markdown
          Identifiers and literals without parentheses are called _atoms_:

        +code(24)
          = "; number\n"
          = "Infinity\n"
          = "\n"
          = "; string literal\n"
          = "'February'\n"
          = "\n"
          = "; multiline string\n"
          = "'split across\n"
          = "two lines'\n"
          = "\n"
          = "; regex literal\n"
          = "/!@#$%/\n"
          = "\n"
          = "; name\n"
          = "parseInt\n"
          = "\n"
          = "; special name\n"
          = "null undefined true\n"

        :markdown
          Strings in jisp are multiline.

          Parentheses in the jisp code are **not cosmetic**. Your code _consists_ of arrays. This allows to easily deconstruct and construct it when using macros. We'll get to this in the [Macros](#macros) section.

          Jisp is mostly whitespace-agnostic. Elements in lists and hash tables are separated by whitespace, but other than that, jisp is completely insensitive to whitespace and indentation, relying on parentheses as delimiters. Forms can contain linebreaks.

          In a non-quoted list, the first element is considered a function, and the list compiles as a function call:

        +code(8)
          = "; function call\n"
          = "(alert 'A dragon cometh!')\n"
          = "\n"
          = "; nested call\n"
          = "(isNaN (parseInt Infinity))\n"

        :markdown
          In fact, even operators are considered functions and use the prefix notation. This allows them to take multiple arguments:

        +code(10)
          = "; operator expression\n"
          = "(& 2 3 4)\n"
          = "(+ 'using jisp' 'you’re' 'awesome')\n"
          = "\n"
          = "; nested operator expressions\n"
          = "(* 4 5 (- 3 6 10) (^ 1 5))\n"

        :markdown
          **[NYI]** Planned feature: you'll be able to pass operators around like any other function:

        +code(6)
          = "(= x `(1 2 3 4))\n"
          = "(x.sort <)        ; result: (4 3 2 1)\n"

        :markdown
          Not all lists are function calls. Some are _special forms_ with their own resolution rules. This includes assignment, quoting, function definitions, conditionals, loops, and JS keywords.

        h2#everything-exp Everything an Expression

        :markdown

          Most languages distinguish statements and expressions. An expression is a piece of code with a value, something you can assign or return from a function. Statements have side effects but no value. In jisp, everything is an expression. It helps you write [functional](http://en.wikipedia.org/wiki/Functional_programming#Coding_styles) code, avoiding unnecessary data fiddling.

          An atom such as a number literal, a string literal, or identifier, resolves to itself.

          A hash table resolves to itself, with its values resolved individually.

          Lists resolve by special rules:
          * An unquoted empty list `()` (not ``()`) resolves to nothing.
          * Special forms starting with a keyword like `=`, `def`, and others, resolve by their own special rules.
          * Lists starting with a macro name resolve as macro calls at compile time.
          * Everything else resolves as a function call.

          Examples:

        +code(16)
          = "; name binding\n"
          = "(= x 10)\n"
          = "\n"
          = "; anonymous function (lambda)\n"
          = "(fn x (/ x 10))\n"
          = "\n"
          = "; `if` conditional\n"
          = "(if false (/ 1 0) (^ 4 6))\n"
          = "\n"
          = "; function definition and call\n"
          = "((fn y (+ 10 y)) 13)\n"

        :markdown
          Inside a nested form, forms are resolved left-to-right, inner-to-outer, just like you'd expect.

        h2#quoting Quoting

        :markdown
          If lists resolve as function calls, how do you write array literals? The answer is quoting. The special form `(quote x)` prevents the list `x` from being resolved, letting it remain an array. Prepending a list with `` ` `` is shorthand syntax:

        +code(12)
          = "; without quote\n"
          = "(1 2 3)\n"
          = "\n"
          = "; with quote\n"
          = "(quote (1 2 3))\n"
          = "\n"
          = "; shorthand\n"
          = "`(1 2 3)\n"

        :markdown
          Directly quoting a non-primitive atom (name or string) stringifies it:

        +code(8)
          = "; name\n"
          = "`myvar\n"
          = "\n"
          = "; string\n"
          = "`'mystring'\n"

        :markdown
          Which is convenient for macros. Atoms in macro call arguments are quoted implicitly.

          Quoting implicitly propagates to inner lists:

        +code(8)
          = "; without quote\n"
          = "(+ (^ 2 1) (is 'π' 'Ω'))\n"
          = "\n"
          = "; with quote, invalid javascript\n"
          = "`(+ (^ 2 1) (is 'π' 'Ω'))\n"

        :markdown
          To let an element resolve, _unquote_ it with a comma `,`:

        +code(8)
          = "; without unquote: invalid javascript\n"
          = "`((* 2 3) (is true false))\n"
          = "\n"
          = "; with unquote: valid javascript\n"
          = "`(,(* 2 3) ,(is true false))\n"

        :markdown
          Aside from writing array literals, quoting and unquoting is primarily used in macros. See the [Macros](#macros) section below.

        h2#blocks Blocks and Chaining

        :markdown
          If everything is an expression and all forms are lists, how do you write consequtive commands? By wrapping them in the special form `do`:

        +code(9)
          = "(def elongate str\n"
          = "  (do (+= str str)\n"
          = "      (console.log 'duplicated:' str)\n"
          = "      str))\n"

        :markdown
          On compile, a jisp file is implicitly wrapped in a top-level `do` form.

          `do` resolves to the value of its last form. It's a requirement for chaining methods:

        +code(16)
          = "; take last value\n"
          = "(alert (do (= bugs `())\n"
          = "  (bugs.push 'butterfree')\n"
          = "  (bugs.push 'beedrill')\n"
          = "  bugs))\n"
          = "\n"
          = "; assign result of chaining methods\n"
          = "(= grated (do str\n"
          = "   (.replace /…/g ' … ')\n"
          = "   (.replace /,/g ' , ')\n"
          = "   (.trim)))\n"

        :markdown
          `let` creates an isolated scope with the variables declared in it:

        +code(8)
          = "(let health 100\n"
          = "  (console.log health))   ; logs 100\n"
          = "\n"
          = "(console.log (? health))  ; logs false: out ot scope\n"

        :markdown
          `let` is currently implemented as a self-executing anonymous function. In the future editions of EcmaScript, it will be changed to use the native `let` statement with a block.

        h2#object-props Object Properties

        :markdown
          As you'd expect, object properties are referenced with the `.dot` or `[bracket]` notation:

        +code(10)
          = "(= bunny (bouncy: true fluffy: false))\n"
          = "bunny.bouncy\n"
          = "bunny['fluffy']\n"

        :markdown
          Dot and bracket notation is a syntax shortcut to getting a property of an object. Internally, jisp uses the `(get obj prop)` special form:

        +code(4)
          = "(get bunny bouncy)\n"
          = "(get bunny 'fluffy')\n"

        :markdown
          **[NYI]** You'll be able to access properties of resolved forms:

              (console.log (String 113).length)  ; 3

          Until it's implemented, use the `get` form, and `do` for methods (below).

        +code(4)
          = "(console.log (get (String 113) length))\n"

        :markdown
          To chain methods, wrap them in a `do` form:

        +code(10)
          = "(do cartoonSnake\n"
          = "   (.crawlForward 10)\n"
          = "   (.turnLeft)\n"
          = "   (['crawlForward'] 5)\n"
          = "   (.eat 'bunny')\n"
          = "   (.elongate food.weight))\n"

        h2#functions Functions

        :markdown
          Jisp mirrors JavaScript function facilities 1-1 and adds some more.

          Named function:

              (def <name> [<... params>] [<body>])

        +code(8)
          = "(def fact x\n"
          = "  (if (is x 0) 1\n"
          = "      (* x (fact (- x 1)))))\n"

        :markdown
          Anonymous function (sometimes called _lambda_):

              (fn [<... params>] [<body>])

        +code(10)
          = "(fn first second (+ first second))\n"
          = "\n"
          = "(fn returnMe)\n"
          = "\n"
          = "(fn)\n"

        :markdown
          A function call is a list starting with the function's name or with a form that resolves to a function:

        +code(12)
          = "; define, then call\n"
          = "(= ringMyBell (fn bell (alert bell)))\n"
          = "(ringMyBell '\\x07')\n"
          = "\n"
          = "; define and call\n"
          = "((fn x (console.log (+ 'Hello ' x))) 'World!')\n"

        :markdown
          A function returns the resolved value of its body. You almost never need to return values manually:

        +code(16)
          = "(def numerify x\n"
          = "  (if (isNaN (Number x))\n"
          = "      (do (console.log 'not a number:' x)\n"
          = "          NaN)          ; branch `then`\n"
          = "      (Number x)))      ; branch `else`\n"

        :markdown
          It's often best to keep each function's body a single conditional tree with branches ending in return values.

          Inside a function's body, `#` (**NYI**) is an array of the arguments passed to it, and `#n` refers to an individual argument by order.

        +code(6)
          = "((fn (* #0 #2)) 3 100 4)    ; 12\n"

        :markdown
          As a side effect of implicit returns, when making a prototype constructor, you need to end it with `this` as the return value to make the `new` declarations work.

        h3#anonymous Anonymous Syntax

        :markdown
          Because functions are so cheap in JavaScript, jisp comes with a shorthand syntax for anonymous functions:

              {<body>}

        +code(10)
          = "{alert 'It’s a dragon!'}\n"
          = "\n"
          = "{+ 3 4}\n"
          = "\n"
          = "{}\n"

        :markdown
          This goes hand in hand with the `#` notation:

        +code(10)
          = "{* #0 #1}\n"
          = "\n"
          = "(array.filter {> #0 1})"

        h2#assignment Assignment

        :markdown
          Like all other forms, assignment uses the prefix notation:

              (= var value [... var value])
              (= var)

        +code(8)
          = "; assign a literal\n"
          = "(= newvar 'some value')\n"
          = "\n"
          = "; assign an expression\n"
          = "(= pi (if (is 2 3) NaN Math.PI))"

        :markdown
          All assignments in jisp (not just `=`) automatically hoist `var` declarations, saving you keystrokes and safeguarding against leaking globals. Variables are only declared if not already in scope. To shadow an outer variable on purpose, use `let`.

          Like many other forms, `=` takes multiple arguments. It assigns them in pairs. Its resolved value is the last assignment:

        +code(8)
          = "(= lastest (= first  'Coffee'\n"
          = "              second 'Beer'\n"
          = "              third  'Milk'))\n"

        :markdown
          The right hand of an assignment can be an arbitrary form, even a block:

        +code(12)
          = "(= x (= shifty null\n"
          = "        picky  (if false 'nose up' 'smile')\n"
          = "        dodgy  (try (+ something) 'unsuccessful')))"

        :markdown
          Calling `=` with a single argument merely declares that name if not already in scope:

        +code(4)
          = "(alert (= emptyVar))\n"

        h2#destructuring Destructuring Assignment

        :markdown
          Assign to a list of identifiers to take apart the right hand side of the assignment and bind its parts:

              (= (var0 [... varN]) value)

        +code(7)
          = "(= (smaller bigger) `(3 Infinity))\n"

        :markdown
          This assignment is positional: `[0]` `[1]` and so on. To collect all remaining parts into an element, prefix it with `...` or `…`:

        +code(10)
          = "(= (first ...mid closing) `(4 8 0 3))\n"
          = "\n"
          = "; first:   4\n"
          = "; mid:     (8 0)\n"
          = "; closing: 3"

        :markdown
          `...x` and `…x` is a shortcut to the `(spread x)` special form, which you can, and sometimes need to, use directly. Spreading is moderately greedy: it takes as many elements as possible, but has lower priority than non-spread identifiers.

        h2#spreading-rest Spreading and Rest Parameter

        :markdown
          Borrowed straight from the upcoming EcmaScript 6 specification.

        h3#spread-into-list Spread Into List

        :markdown
          In a list, prefix elements with `...` or `…` to spread their elements into the list, flattening it:

        +code(8)
          = "`(1 2 (3 4) (5 6))\n"
          = "\n"
          = "`(1 2 ...`(3 4) ...`(5 6))\n"
          = "\n"
          = "; (1 2 3 4 5 6)\n"

        h3#argument-spread Argument Spread

        :markdown
          Spread a list into a function call to pass its elements as individual arguments:

        +code(8)
          = "(= pair `('dog' 'lizard'))\n"
          = "\n"
          = "(console.log 'cat' ...pair)\n"
          = "\n"
          = "; cat dog lizard"

        h3#rest-parameter Rest Parameter

        :markdown
          Prefix a parameter with `...` or `…` to make it a _rest parameter_ that collects the remaining arguments into a list. This works the same way as destructuring assignment:

        +code(18)
          = "(def categorise quick ...moderate slow\n"
          = "  (console.log (+ '(' (moderate.join ' ') ')')))\n"
          = "\n"
          = "(categorise 'hare' 'turtle' 'human' 'snail')\n"
          = "\n"
          = "; (turtle human)\n"

        h2#comprehensions Comprehensions

        :markdown
          Other languages typically devise special syntax for list comprehensions (a set builder notation). Jisp's basic features serve as a limited version of list comprehension without any special notation.

          `range` is a trivial built-in function that returns a list from N to M:

        +code(14)
          = "(range 0 5)\n"
          = "\n"
          = "; (0 1 2 3 4 5)\n"

        :markdown
          `for` and `while` (see [Loops](#loops)) are list-building expressions and can be combined with `range`, and optionally `if`, to make a comprehension:

        +code(14)
          = "(console.log\n"
          = "  (for x (range 0 6) (* x x)))\n"
          = "\n"
          = "; (0 1 4 9 16 25 36)"

        h2#conditionals Conditionals

        :markdown
          Jisp improves the JavaScript conditionals and gives you some new ones. It's also trivial to define your own conditionals with [macros](#macros).

              is      ; equality test
              isnt    ; inequality test
              not     ; negation
              or      ; ||
              and     ; &&
              in      ; value in iterable
              of      ; property of object
              isa     ; positive type check
              isnta   ; negative type check
              ?       ; existence check
              ?!      ; nonexistence check
              any     ; picks first existing value, if any
              if      ; if
              switch  ; switch

          `is` is the equality test. With a single argument, it checks its truthiness by double negation. With two or more arguments, it checks if the first equals any of the others by a combination of `===` and `||`:

              (is <name>)
              (is <name> <something>)
              (is <name> <something> [<other> ...])

        +code(12)
          = "; truthiness check\n"
          = "(is true)\n"
          = "\n"
          = "; equality\n"
          = "(is grass green)\n"
          = "\n"
          = "; or-equality: true if any match\n"
          = "(is she 'smart' 'beautiful' 'artistic')\n"

        :markdown
          `isnt` is the inverted form of `is` which also takes multiple arguments:

              (isnt <name>)
              (isnt <name> <something>)
              (isnt <name> <something> [<other> ...])

        +code(12)
          = "; falsiness check (same as `not`)\n"
          = "(isnt false)\n"
          = "\n"
          = "; inequality\n"
          = "(isnt fire wet)\n"
          = "\n"
          = "; and-inequality: true if none match\n"
          = "(isnt she 'grumpy' 'magpie' 'far away')\n"

        :markdown
          Logical or is `or` and logical and is `and`. Like many other forms, they take multiple arguments and support [spread](#spreading-rest):

              (or  [<a> [<b> ...]])
              (and [<a> [<b> ...]])

        +code(5)
          = "(or NaN Infinity `myvar)\n"
          = "\n"
          = "(and true 'sun is hot' (< 2 3))\n"

        :markdown
          Check if a value is in an iterable (array or string) with `in`:

              (in <value> <iterable>)

        +code(8)
          = "(= bush 'woods')\n"
          = "\n"
          = "(in bush `('forest' 'woods' 'thicket'))  ; true\n"
          = "\n"
          = "(in 's' 'mystring')  ; true\n"

        :markdown
          Check if an object has a property with `of`:

              (of <property> <object>)

        +code(10)
          = "(= snake (venom:  yes\n"
          = "          fangs:  yes\n"
          = "          talons: no))\n"
          = "\n"
          = "(of 'venom' snake)  ; true\n"

        :markdown
          `isa` is a short way to test an object's type. It takes multiple arguments and returns true if any match:

              (isa <name> <type> [<type> ...])

        +code(6)
          = "(isa Math.PI 'number')         ; true\n"
          = "\n"
          = "(isa null 'number' 'boolean')  ; false\n"

        :markdown
          `isnta` is the negated version of `isa`. It takes multiple arguments and returns true if none match:

              (isnta <name> <type> [<type> ...])

        +code(6)
          = "(isnta null 'function')          ; true\n"
          = "\n"
          = "(isnta 'Sun' 'number' 'string')  ; false\n"

        h3#existence Existence

        :markdown
          Jisp provides three powerful existence macros: `?`, `?!`, and `any`.

          `?` is the ultimate existence checker. This macro takes any number of arguments and resolves to `true` if any of them exist (are defined) and to `false` otherwise.

              (? <name>)
              (? <name> [<name> ...])
              (? <object.property> [<name> ...])

        +code(10)
          = "(= elephants 'exist')\n"
          = "\n"
          = "(? dinosaurs)           ; false\n"
          = "\n"
          = "(? mammoths elephants)  ; true\n"

        :markdown
          It's smart about properties: it takes property references apart and checks them in order, starting with the base object, letting you pinpoint the existence of a property with just one conditional:

        +code(10)
          = "(? object.property[0]['method'])\n"
          = "\n"
          = "; false because object not defined\n"
          = "; no runtime error\n"

        :markdown
          `?!` is the negated version of `?` with the exact same qualities:

              (?! <name>)
              (?! <name> [<name> ...])
              (?! <object.property> [<name> ...])

        +code(10)
          = "(?! myVar null)             ; false: null exists\n"
          = "\n"
          = "(?! obj.prop[0]['method'])  ; true: not defined\n"

        :markdown
          `any` is a sliding switch that combines `or` and `?`: it resolves to the first value that exists and is truthy, or just the last value that exists:

              (any <name> [<name> ...])

        +code(14)
          = "(any NaN Infinity)\n"
          = "\n"
          = "; Infinity: it's truthy\n"
          = "\n"
          = "(any false 0 obj.prop[0] Math.PI)\n"
          = "\n"
          = "; Math.PI\n"

        :markdown
          Single conditional and no runtime error.


        h3#if If

        :markdown
          Like everything in jisp, `if` is a single form that resolves to a value. When possible, it compiles into the ternary form. You can assign an `if` to a variable or return it from a function.

              (if <test> <then> [<elif test then> ...] <else>)
              (if <test> <then> <else>)
              (if <test> <then>)

        +code(18)
          = "; ternary form: single expression per branch\n"
          = "\n"
          = "(if (is 'universe expanding')      ; test\n"
          = "    (console.log 'flight normal')  ; then-branch\n"
          = "    (alert 'catastrophe'))         ; else-branch\n"
          = "\n"
          = "; block form: more than one expression per branch\n"
          = "\n"
          = "(if hunting\n"
          = "    (do (= beast (randomBeast))\n"
          = "        (shoot beast))             ; then-branch\n"
          = "    (cook 'meat'))                 ; else-branch\n"

        :markdown
          Like everything else, the block form resolves to a value that can be assigned or returned:

        +code(22)
          = "(def hashToArray form\n"
          = "  (if (isa form 'object')\n"
          = "    (over val key form\n"
          = "      (+ key ': ' val))))\n"
          = "\n"
          = "; resolves to a value eventually returned by the function\n"

        :markdown
          Else-ifs are special forms _inside_ the `if` expression. The last non-elif expression is taken as the else-branch (undefined if omitted).

              (elif <test> <branch>)

        +code(14)
          = "(if hungry\n"
          = "    (eat)                   ; then-branch\n"
          = "    (elif thirsty (drink))\n"
          = "    (elif tired (sleep))\n"
          = "    (write code))           ; else-branch\n"

        h3#switch Switch

        :markdown
          A `switch` form automatically inserts `break;` statements, protecting you from accidental fall-through:

              (switch <predicate> [<case test body> ...] <default>)

        +code(14)
          = "(switch x\n"
          = "  (case -1 'negative one')\n"
          = "  (case 0  'zero-ish')\n"
          = "  NaN)\n"

        :markdown
          Quite naturally, `switch` is also an expression that resolves to a value:

        +code(16)
          = "(console.log (switch Math.PI\n"
          = "  (case 1 'welcome to Lineland')\n"
          = "  (case 2 'welcome to Flatland')\n"
          = "  (case 3 'welcome to ancient Egypt')\n"
          = "  'world still spinning'))\n"
          = "\n"
          = "; world still spinning\n"

        :markdown
          More conditionals coming up. The [macro](#macros) system also makes it trivial to define your own conditionals with arbitrary syntax.

        h2#loops Loops

        :markdown
          Jisp abstracts away the legacy details of JavaScript loops and makes them expressive. It comes with three loops: `for`, `over`, and `while`.

        h3#over Over

        :markdown
          The `over` loop iterates over values and keys of any object. It also accesses inherited properties and custom prototype methods.

              (over [<value> [<key>]] <iterable> <body>)

        +code(14)
          = "(= animals (squirrel: 'Eevee' fox: 'Vulpix'))\n"
          = "\n"
          = "(over val key animals (console.log key val))\n"
          = "\n"
          = "; squirrel Eevee\n"
          = "; fox Vulpix\n"

        :markdown
          `over` automatically builds a list of values from each iteration. This list is its resolved value:

        +code(16)
          = "(= cats (pink: 'Persian' yellow: 'Skitty'))\n"
          = "\n"
          = "(= catnames\n"
          = "   (over name cats name))\n"
          = "\n"
          = "; ('Persian' 'Skitty')\n"
          = "\n"
          = "(= bigcolours\n"
          = "   (over name colour cats (colour.toUpperCase)))\n"
          = "\n"
          = "; ('PINK' 'YELLOW')\n"

        h3#for For

        :markdown
          When iterating over arrays and strings, you usually want to hit all elements in order and don't want extra properties tagging along. In those cases, use the `for` loop:

              (for [<value> [<index>]] <iterable> <body>)

        +code(10)
          = "(for char index 'meow'\n"
          = "  (console.log index char))\n"
          = "\n"
          = "; 0 m\n"
          = "; 1 e\n"
          = "; 2 o\n"
          = "; 3 w\n"

        :markdown
          It resolves to a list of values from each iteration, if asked nicely:

        +code(12)
          = "(console.log\n"
          = "  (for char index 'winter'\n"
          = "       (+ index ': ' char)))\n"
          = "\n"
          = "; ('0: w' '1: i' '2: n' '3: t' '4: e' '5: r')\n"

        :markdown
          **[NYI]**: planned feature. If the iterable is an integer larger than 0, jisp will substitute it for a range starting at 1, making for a repeat-N loop:

              (= warcry '')
              (for 5 (+= warcry 'waagh! '))
              warcry
              ; waagh! waagh! waagh! waagh! waagh!

        h3#while While

        :markdown
          For finer-grained control, use the `while` loop. It works like in JavaScript, but like everything in jisp, it's an expression. By default, it resolves to a list of values from each iteration:

              (while <test> <body>)

        +code(14)
          = "(= bugs `('missing comma' 'missing semicolon'))\n"
          = "\n"
          = "(console.log\n"
          = "  (while (> bugs.length 0)\n"
          = "    (+ (bugs.shift) ' avoided')))\n"
          = "\n"
          = "; ('missing comma avoided'\n"
          = ";  'missing semicolon avoided')\n"

        :markdown
          You can also order a final resolved value:

              (while <test> <body> <return-value>)

        +code(16)
          = "(= beers 0)\n"
          = "(def sober (< beers 10))\n"
          = "\n"
          = "(console.log\n"
          = "  (while (sober)\n"
          = "    (++ beers)\n"
          = "    (+ 'drunk after ' beers ' beers')))\n"
          = "\n"
          = "; drunk after 10 beers\n"

        h2#macros Macros

        :markdown
          Macros are compile-time functions that generate code. A macro takes code as input and returns code that's put in its place. At compile, macro definitions are yanked from your code, then macros are recursively expanded. After all macros are expanded, jisp is compiled to JS:

              Definition:
              (mac name [<params>] <body>)

              Call:
              (<name> [<code>])

        +code(14)
          = "(mac firstDefinedTruthy ...values\n"
          = "  `(or ,...(for value values\n"
          = "    `(and (? ,value) ,value))))\n"
          = "\n"
          = "(firstDefinedTruthy NaN Infinity myVar)\n"
          = "\n"
          = "; add your own macro call here\n"

        :markdown
          Most of `jisp.jisp` is written with macros.

          The lifetime of your code without macros:

              code -> compile into JS -> execute

          The lifetime with macros:

              code => parse macros <-> expand macros -> compile into JS => execute

          It seems to be a trend among modern languages to introduce limited macro support in form of templates. Jisp brings macros to JavaScript but it's **not** limited to templating. Macros are complete, real, custom functions using the full power of the language to run arbitrary logic and transform code in arbitrary ways.

        h3#templating Templating

        :markdown
          Templating is the most basic use. Let's make a macro that generates named function definitions:

              Prefix code to return with `:
              `(<code>)

              Unquote elements with , to resolve (transclude) them during macro call:
              `(<code> ,<elem> <code>)

        +code(24)
          = "; yanked at macro parse\n"
          = "(mac makeReduce name operator\n"
          = "  `(def ,name ...args\n"
          = "    (if (isnt args.length 0)\n"
          = "        (args.reduce {,operator #0 #1}))))\n"
          = "\n"
          = "; yanked at macroexpand\n"
          = "(makeReduce mul *)\n"
          = "\n"
          = "; code put back at macroexpand\n"
          = "; (def mul ...args\n"
          = ";   (if (isnt args.length 0)\n"
          = ";     (args.reduce {* #0 #1})))\n"
          = "\n"
          = "; add your own macro call here\n"
          = "; try a non-operator\n"

        :markdown
          In this example, the macro returns the form starting with `def`. Quoting with `` ` `` prevents this form from resolving during the macro call and lets the macro return it as code. Unquoting the macro arguments `name` and `operator` by prepending them with `,` transcludes them into the template. Try adding your own macro calls to generate new definitions.

          Because macros are real functions, you can edit the return code in arbitrary ways. For instance, based on the arguments passed. Let's make our operator macro slightly more versatile:

        +code(30)
          = "(mac makeReduce name operator zeroValue\n"
          = "  `(def ,name ...args (do\n"
          = "    ; included if zeroValue was passed\n"
          = "    ,(if (? zeroValue)\n"
          = "      `(args.unshift ,zeroValue))\n"
          = "    ; included always\n"
          = "    (if (is args.length 0)\n"
          = "      ,zeroValue  ; defaults to undefined\n"
          = "      (args.reduce {,operator #0 #1})))))\n"
          = "\n"
          = "(makeReduce add +)\n"
          = "\n"
          = "(makeReduce div / 1)\n"
          = "\n"
          = "; try your own macro call\n"

        :markdown
          In this example, the logic `(args.unshift ,zeroValue)` is only included if a `zeroValue` was passed to the macro. Run the resulting functions with none and one argument to see the difference.

        h3#code-construction Code Construction

        :markdown
          Because jisp code is a series of nested arrays, macros can deconstruct and construct it on the fly. This is why we have those parentheses.

          As a silly example, you could enable reverse syntax by reversing the code passed to a macro:

        +code(20)
          = "(mac reverse form (do\n"
          = "  (def rev form\n"
          = "     (if (Array.isArray form)\n"
          = "         (do (for f form\n"
          = "               (rev f))\n"
          = "             (.reverse))\n"
          = "         form))\n"
          = "  (rev form)))\n"
          = "\n"
          = "(reverse\n"
          = "  (('world' 'hello ' (() quote) +) console.log))\n"
          = "\n"
          = "; try your own reverse code\n"

        :markdown
          But let's get more serious. Getting back to the example at the top of the page. Suppose you're writing a gulp config file full of repetitive blocks like these:

              gulp.task('jisp', function() {
                return handle(gulp.src(jispFiles))
                .pipe(handle(concat('app.js')))
                .pipe(handle(jisp()))
                .pipe(handle(uglify({mangle: false})))
                .pipe(handle(gulp.dest('public/js/tmp/')));
              });

        :markdown
          You can't deduplicate this with functional abstractions alone, and are forced to write this repetitive code by hand. But you can abstract it away with a macro:

        +code(26)
          = "(mac task name ...args (do\n"
          = "  (= pipeline `(do (handle (,(args.shift)\n"
          = "                            ,(args.shift)))))\n"
          = "  (while (> args.length 0) (do\n"
          = "    (= left  (args.shift)\n"
          = "       right (args.shift))\n"
          = "    (pipeline.push `(.pipe (handle (,left ,right))))))\n"
          = "  `(gulp.task ,name (fn ,pipeline))))\n"
          = "\n"
          = "; call it like so:\n"
          = "\n"
          = "(task       'jisp'\n"
          = "  gulp.src  jispFiles\n"
          = "  conc      'app.js'\n"
          = "  jisp      ()\n"
          = "  uglify    (mangle: no)\n"
          = "  gulp.dest 'public/js/tmp/')\n"
          = "\n"
          = "; try adding your own task\n"

        :markdown
          What happened? The macro takes its arguments as an array, takes it apart in pairs, and constructs a new array of the resulting code, filling in the repetitive blocks we wanted to dedup. The constructed code in this example is:

              (gulp.task 'jisp' (fn (do
                (handle (gulp.src jispFiles))
                (.pipe (handle (conc 'app.js')))
                (.pipe (handle (jisp)))
                (.pipe (handle (uglify (mangle: no))))
                (.pipe (handle (gulp.dest 'public/js/tmp/'))))))

          And it replaces the macro call before the code is compiled.

          We've just enabled a new shorter, cleaner syntax for the rest of our configuration file, and deduplicated our code in a way not possible with plain JavaScript. It should be noted that macros take any kind of input; it could be hash tables or bigger blocks of code. See `jisp.jisp` for bigger examples.

        h3#macro-import-export Macro Import and Export

        :markdown
          Macros can be imported in three ways:
          * compile or `require` a macro-containing file before others within the same Node runtime;
          * use the `importMacros` method of the object exported by the compiler;
          * access the `macros` store exported by the compiler.

          Macros are kept in the `macros` object that exists during the compiler runtime. It's exposed in the `jisp` object and can be accessed and modified directly. The recommended way to import macros is by calling the `importMacros` method that takes one or more macro stores and merges them into the macro object, overriding the existing macros. Each store is a hash table where keys are macro names and values are macro functions.

              (= myStore (testMacro: (fn `nameToReturn)))
              (= jisp (require 'jisp'))
              (jisp.importMacros myStore)
              (testMacro)  ; replaced by `nameToReturn`

        :markdown
          The `macros` object persists between compiler calls. If you're using a build script that compiles multiple jisp files within the same runtime, you can simply put macros in a file and require or compile it before others. This also works when running jisp scripts directly with `require`.

          When a macro is referenced in code, it's embedded at the top of your program and can be assigned and exported from a module. See `macros.jisp` for an example.

        h3#macro-notes Notes

        :markdown
          After each macro expansion, the new code is recursively checked for macro definitions and calls. This allows macros to be nested, and even contain new macro definitions. See `jisp.jisp` for examples; most of it is written with nested macros.

          To avoid confusing macros for functions, it's good style to begin their names with `mac`.

          It's important to realise that macros are compile-time, not run-time. They live in the land of names, not in the land of values like functions. Rather than passing values by names to macros, you pass _names_, or code in general. A macro doesn't give a flying duck about scope or variable bindings. You aren't constrained by scope or object reference issues, and don't have to pass around objects you want to access. You just construct the code you want, where you want it, at compile time.

        h2#built-ins Built-ins and Embedding

        :markdown
          Jisp comes with some built-in macros and functions, and faculties for importing them and embedding into compiled programs.

        h3#built-in-macros Macros

        :markdown
          Most built-in macros are conditionals. See the [conditionals](#conditionals) section. Some are property accessors.

        +code(18)
          = "(car  x)\n"
          = "(head x)\n"
          = "(cdr  x)\n"
          = "(tail x)\n"
          = "(init x)\n"
          = "(last x)\n"
          = "(let  x 10 (* x 2))\n"
          = "(isa  x 'type')\n"
          = "(isnt x 'type')\n"
          = "(?    x)\n"
          = "(?!   x)\n"
          = "(any  x y)\n"

        h3#built-in-functions Functions

        :markdown
          Jisp has a special faculty for adding global functions to the language. If any of them is referenced in code, it's embedded at the top of your program on compile. No globals are leaked. If the function is reassigned before being referenced, it's not embedded. Like with macros, jisp provides a way to import these functions, extending the language. It also comes with a few:

          `list` is a list (array) builder. It's roughly equivalent to `(Array x)`, but also accepts 0 or 1 arguments.

              (list [<args> ...])

        +code(12)
          = "(list 'wizard' 'hat' 'staff')\n"
          = "\n"
          = "; ('wizard' 'hat' 'staff')\n"
          = "\n"
          = "(list)\n"
          = "\n"
          = "; ()\n"

        :markdown
          `concat` is like `list` except it flattens lists passed as arguments, concatenating them:

              (concat [<args> ...])

        +code(12)
          = "(concat `(yes no) `(NaN) Infinity)\n"
          = "\n"
          = "; (yes no NaN Infinity)\n"

        :markdown
          `range` is a function that builds a list from N to M. It's used in comprehensions:

              (range [start] end)  ; default start 0

        +code(12)
          = "(range -1 6)\n"
          = "\n"
          = "; (-1 0 1 2 3 4 5 6)\n"

        h3#function-import-export Function Import and Export

        :markdown
          Similarly to macros, functions can be imported in two ways:
          * use the `importFunctions` method of the module object;
          * directly access and modify the function store exposed by the module.

          The global functions are stored in the `functions` object that exists during the compiler runtime. Unlike macros, compiling a file doesn't affect the function store. You need to import them like so:

              (= myFuncs (sqr:  (fn x (* x x))
                          cube: (def cube x (* x x x))))

              (= jisp (require 'jisp'))

              (jisp.importFunctions myFuncs)

              sqr      ; function embed
              (cube 3) ; function embed, 27

          Try this in a REPL or a file to see how functions are embedded after importing. This faculty makes it easy to extend the language in a modular way with zero global leaks and zero global dependency.

        h2#style Style

        :markdown
          Jisp is insensitive to whitespace, but humans don't read code by counting parens; we read it by indentation. Your indentation should reflect the nesting of expressions, branches of execution. Parallel branches share the same indent, nested branches are indented further.

              ; BAD, misleading about nesting
              (def plusname name
                   (if (isNaN (Number (last name)))
                   (+ name 0)
                   (+ (init name) (+ 1 (Number (last name))))))

              ; GOOD, reflects branching properly
              (def plusname name
                   (if (isNaN (Number (last name)))
                       (+ name 0)
                       (+ (init name) (+ 1 (Number (last name))))))

          When nesting isn't deep, try lining up each next indent with the second word on the preceding line (example above). Otherwise, stick with two spaces for each new level.

        h2#known-bugs Known Bugs and NYI

        :markdown
          I'll be gradually moving this to the [git issues](https://github.com/Mitranim/jisp/issues). You can help by opening new issues.

          Syntax (tokeniser and lexer limitations):
          * [NYI] `.dot` and `[bracket]` notation can't be used with primitive literals and lists, using `(get object property)` and `do` notation for now.
          * `#n` notation can't be used with `` ` `` `...` `.dot` and `[bracket]` notation, using `get` and `do` for now.
          * Regex literals are mangled when passed as an argument to a function.
          * Whitespace in regexes bugs out the tokeniser regexes.
          * Tokeniser can't handle more than one backslash immediately preceding a quote.
          * Tokeniser fails to split `"}"}`.
          * Tokeniser sometimes fails to split `[` `]` from other things (example: `form[` in `form[,i]`).
          * [NYI] Identifier names (variables etc) can't include non-ASCII letters.

          REPL:
          * Multiline counts parens inside strings and all.
          * Hangs on multiline input with unclosed `{`.

          Operator-functions like `+`:
          * [NYI] spread not implemented.
          * [NYI] can't be passed around by name.

          Macros quirks:
          * Macros break when they contain strings with quotes inside them (probably tokeniser).
          * Dot and bracket notation on regexes renders as `[native code]`, use the `get` and `do` notation for now.
          * In quoted lists in macros, internal quoted lists have to be double-quoted. Todo comprehend and fix.
          * (Not sure if bug, todo review.) When passing a non-quoted list to a macro, it's spread out instead of being passed as a list. (Got fixed? ToDo check.)

          The parser (?) appends an extra `undefined` to the end of the file if the last line is a comment (got fixed? need to check).

          When using conditionals (e.g. `and`) with forms that compile to multiple lines, all but last line will be put before the conditional, executing regardless of which of the tests are passed.

          Hoisting of multi-line statements above their place in code can sometimes cause actions to be executed out of order. Example: a logical conditional like `and` consisting of block expressions like `try`.

          [NYI] `command` doesn't automatically load the `register` module.

          Macro embedding-hoisting doesn't respect global scope, overwrites previously defined names. Not sure what to do about this; it might be a good thing, considering that macros are core to the language.

          More 'operators' need to support multiple arguments.

        h2#why Why Use Jisp

        :markdown

          Generally, you should read this documentation to get an idea of the possibilities opened by jisp. Here's a super short gist.

          #### Simple and Safe

          Despite being more powerful, jisp is a lot simpler than JavaScript. Is has practically no syntax; there's no semicolons, commas, or linebreaks to trip yourself over, no special rules for keywords and operators. Everything uses the same rules, making it hard to make an error.

          It also absracts away legacy implementation details like `var`, `break` and the primitive `for` loop, eliminating entire classes of easy to make and hard to spot errors.

          #### Powerful

          At its heart, jisp is just JavaScript. But it's also much more.

          On the surface level, it builds some coding patterns right into the language and provides powerful higher-level conditionals and loops, making your programs terser. Its expressive functional syntax and implicit value resolution lets you focus on your ideas and have the language take care of data returns.

          More importantly, it lets you define syntactic abstractions and automatically generate code, reprogram and extend the language, implement embedded domain-specific languages on top of JS, deduplicate code in ways impossible with plain JavaScript.

        h3#why-over Why Jisp Over [insert dialect X]

        :markdown
          There's a bunch of Lisp-JavaScript dialects floating in the wild. So why jisp?

          #### JavaScript-first

          Most other Lisp-JavaScript implementations are attempts to port a [language X] to JavaScript. In best cases, they carry legacy design details that don't make sense in the JavaScript environment or obfuscate the code (example: artificial distinction between arrays and code in most dialects). In worse cases, they clog the runtime with a reimplementation of another language on top of JavaScript.

          Jisp is JS-native and axiomatic. Is has no needless concepts, no legacy syntax, and no runtime cost. Jisp focuses on the core ideas of code-as-data, S-expressions, macros, and brings them to JavaScript, introducing as few new concepts as possible. Everything else is left looking familiar and fits intuitively within the new syntax.

          It also carefully abstracts away legacy JavaScript pitfalls, making the language safer without introducing alien concepts as a cost.

          Jisp doesn't target an [insert language X] programmer. It targets the JavaScript programmer.

          #### Featureful

          Jisp is full of features of immediate, practical use to a JavaScript developer. It's not different for difference sake: it enables a whole new level of abstraction and makes full use of it, coming prepackaged with powerful tools. It takes practical features from other modern languages and the future of JavaScript and gives them to you now. Built-in macros and functions, shortcuts to common patterns, import and embedding for macros and global functions, spreading, destructuring, and more.

          #### Axiomatic

          Despite aiming for features, jisp takes the minimalistic, simplest possible approach to design. It wants you to type less and do more with less code. It doesn't try to imitate [language X] — or JavaScript, for that matter. It aims to be succinct and get out of your way.

        h2#todo-upcoming ToDo Upcoming

        :markdown
          Working on these.

          * Fix the known bugs and NYI.
          * More built-in macros.
          * Embedding of operator-functions to allow passing them around by name (e.g. `(arr.sort >)`).
          * Compiler error messages for when special forms like `=` and `quote`, as well as JS keywords, are met outside their destined place (first element in list).
          * Lexer or parser error messages for common but hard to spot errors like infix `+`.
          * Polyfill for older engines.

        h2#todo-wishlist ToDo Wishlist

        :markdown
          These will take me a while. Get hacking and contribute!

          Bigger:

          * A test suite.
          * Source map support.
          * Syntax highlighting for HTML and language modules for code editors (Sublime Text, Atom).
          * Some way of generating guaranteed unique variable names in macros (like `gensym`). Not sure if necessary.
          * Compiler option to only macroexpand and print out expanded jisp code (needs a jisp beautifier).

          Smaller:

          * Prettier JS output (fewer parens etc.).
          * Distinguish between `;` `;;` and `;;;` comments. `;;` should quote the next form in parentheses, ignoring end-of-line. `;;;` should be a multiline block comment.
          * Auto-reindent plugins for code editors (Sublime Text, Atom).
          * Support for multiple expressions in `elif` tests when possible (comma-separated).
          * Support for multiple tests in `switch`/`case`.
          * Multiline regexes.
          * REPL non-verbose option.
          * REPL history.

        h2#acknowledgements Acknowledgements

        :markdown
          Jisp is massively inspired by [CoffeeScript](http://coffeescript.org) and uses bits of its source for CLI utils. Design inspiration from [Arc](http://paulgraham.com/arc.html) and the Lisp family of languages, bits from other places. General inspiration from [Arc-js](https://github.com/smihica/arc-js).

          Copyright (c) 2014 Mitranim, under the MIT License.

      .col-lg-3
        .bs-sidebar.hidden-print(role='complementary' bs-affix bs-scrollspy-list)
          ul.nav.bs-sidenav
            li(data-target='#installation' bs-scrollspy): a(href='#installation') Installation and Usage
            li(data-target='#code-structure' bs-scrollspy): a(href='#code-structure') Code Structure
            li(data-target='#everything-exp' bs-scrollspy): a(href='#everything-exp') Everything an Expression
            li(data-target='#quoting' bs-scrollspy): a(href='#quoting') Quoting
            li(data-target='#blocks' bs-scrollspy): a(href='#blocks') Blocks and Chaining
            li(data-target='#object-props' bs-scrollspy): a(href='#object-props') Object Properties
            li(data-target='#functions' bs-scrollspy): a(href='#functions') Functions
            li(data-target='#assignment' bs-scrollspy): a(href='#assignment') Assignment
            li(data-target='#destructuring' bs-scrollspy): a(href='#destructuring') Destructuring Assignment
            li(data-target='#spreading-rest' bs-scrollspy): a(href='#spreading-rest') Spreading and Rest Parameter
            li(data-target='#comprehensions' bs-scrollspy): a(href='#comprehensions') Comprehensions
            li(data-target='#conditionals' bs-scrollspy): a(href='#conditionals') Conditionals
            li(data-target='#loops' bs-scrollspy): a(href='#loops') Loops
            li(data-target='#macros' bs-scrollspy): a(href='#macros') Macros
            li(data-target='#built-ins' bs-scrollspy): a(href='#built-ins') Built-ins and Embedding
            li(data-target='#style' bs-scrollspy): a(href='#style') Style
            li(data-target='#known-bugs' bs-scrollspy): a(href='#known-bugs') Known Bugs and NYI
            li(data-target='#why' bs-scrollspy): a(href='#why') Why Use Jisp
            li(data-target='#todo-upcoming' bs-scrollspy): a(href='#todo-upcoming') ToDo Upcoming
            li(data-target='#todo-wishlist' bs-scrollspy): a(href='#todo-wishlist') ToDo Wishlist
            li(data-target='#acknowledgements' bs-scrollspy): a(href='#acknowledgements') Acknowledgements
            li: a(ng-click='gotoTop()') Top
